body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4 ;
    padding: 40px;
    max-width: 800px;
    margin: auto;
  }
  h1 {
    color: #222;
    font-size: 36px;
  }
  
  h2 {
    margin-top: 30px;
    color: #444;
  }
  p, li {
    font-size: 16px;
    line-height: 1.6;
  }
  ul {
    padding-left: 20px;
  }